body {
    background-color: #f5deb365;
}

.header {
    background-color: unset;
    background-blend-mode: soft-light;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    position: relative;
}

.movie-heading {
    font-family: 'Stick', sans-serif;
    font-size: 1.5em;
    text-align: left;
    color: lightgoldenrodyellow;
    position: absolute;
    bottom: 0px;
    margin: 5px;
}

.movie-heading h1 {
    margin: 0px;
    border-bottom: 1px dashed lightgoldenrodyellow;
    padding: 0px;
}

.movie-rating .fa-star {
    color: blanchedalmond;
}

.links {
    background-color: burlywood;
    list-style-type: none;
    font-family: 'Orbitron', sans-serif;
    margin: 0.2em auto;
    text-align: center;
    padding: 0px;
}

.links li {
    display: inline-block;
    margin: 1em;
}

.links li a {
    text-decoration: none;
    color: #333;
}

@keyframes line-draw {
    from {
        text-decoration: none;
    }
    to {
        text-decoration: underline;
    }
}

.links li a:hover {
    color: black;
    animation-name: line-draw;
    animation-fill-mode: forwards;
    animation-duration: 60ms;
    animation-timing-function: ease-in;
}

.box {
    margin: 10px auto;
    width: 80%;
    border: 1px solid #222;
    padding: 10px;
    box-shadow: 0px 0px 7px black;
    background-color: #f3f2ed;
}

.text {
    color: #444;
    font-family: 'Heebo', sans-serif;
}

.character {
    color: black;
}

.cast {
    color: red;
}

.trailer {
    display: block;
    margin: 2px auto;
    height: 320px;
    width: 400px;
}

.comment-section {
    border-top: 1px groove #333;
    margin: 50px auto;
    text-align: center;
    width: 80%;
}

.comment-section h3 {
    color: black;
    font-family: 'Orbitron', sans-serif;
}

.star {
    display: inline-block;
}

.user {
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
}

.fa-filter {
    color: #333;
}

.fa-filter:hover {
    color: black;
    cursor: pointer;
}

.user-comments {
    margin: 1.2em;
}

.user-comments textarea {
    width: 80%;
    resize: none;
    margin: 3px;
}

.submit-btn {
    color: #e1e1e1;
    background-color: #945629;
    border-radius: 5px;
    padding: 10px;
    width: 15%;
    text-align: center;
    border: 2px outset saddlebrown;
}

.submit-btn:hover {
    color: white;
    background-color: saddlebrown;
    cursor: pointer;
}

.user-rating .fa-star {
    color: whitesmoke;
}

.root .fa-star{
  color: blanchedalmond;
}

.user-rating:hover .fa-star {
    color: gold;
    cursor: pointer;
}

#sr-0:hover~i {
    color: blanchedalmond !important;
}

#sr-1:hover~i {
    color: blanchedalmond !important;
}

#sr-2:hover~i {
    color: blanchedalmond !important;
}

#sr-3:hover~i {
    color: blanchedalmond !important;
}

#sr-4:hover~i {
    color: blanchedalmond !important;
}

.user-star{
  text-align: center;
  float: right;
}

.root{
  background-color: white;
  border-radius: 5px;
}

.shw-rpl {
  padding: 0;
  margin: 0;
  text-decoration: underline;
  cursor: pointer;
  width: 110px;
}

.root .username{
  padding-top: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
  text-align: left;
  width: 75%;
}

.root .text{
  text-align: left;
  padding-top: 0px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 10px;
  margin-top: 10px;
  width: 100%;
  word-wrap: break-word;
  overflow-y: visible;
  margin-bottom: 0px;
}

.shw-rpl i{
  padding: 0 5px;
}

.reply{
  margin-left: 13%;
  background-color: white;
  border-radius: 5px;
  width: 87%;
}

.reply .username{
  padding-top: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
  text-align: left;
  width: 75%;
}

.reply .text{
  text-align: left;
  padding-top: 0px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 10px;
  margin-top: 10px;
  width: 100%;
  word-wrap: break-word;
  overflow-y: visible;
  margin-bottom: 0px;
}
